mixin calendar-day({isOther= false, isCurrent= false, isBegin= false, isBeginPoint= false, isEnd= false, isEndPoint= false, value}= {})
  -
    var baseClassName = 'calendar-day'
    var componentClassName = baseClassName
    componentClassName += isOther ? ` ${baseClassName}` + '_other': ''
    componentClassName += isCurrent ? ` ${baseClassName}` + '_current': ''
    componentClassName += isBegin ? ` ${baseClassName}` + '_begin': ''
    componentClassName += isBeginPoint ? ` ${baseClassName}` + '_begin-point': ''
    componentClassName += isEnd ? ` ${baseClassName}` + '_end': ''
    componentClassName += isEndPoint ? ` ${baseClassName}` + '_end-point': ''
  div(class= componentClassName)= value