mixin field-wrapper(options)
  -
    var baseClassName = 'field-wrapper'
    var componentClassName = baseClassName
    componentClassName += options.className ? ' ' + options.className : ''
    var contentClassName = `${baseClassName}__content`
    contentClassName += options.isHeadIndent ? ` ${contentClassName}_offset` : ''
    var titleClassName = `${baseClassName}__title` 
    titleClassName += options.isHead ? ` ${titleClassName}_headline` : ''
    var descriptionClassName = `${baseClassName}__description` 
    descriptionClassName += options.isHead ? ` ${descriptionClassName}_headline` : ''
  div(class= componentClassName)
    .field-wrapper__head
      div(class= titleClassName)= options.title
      div(class= descriptionClassName)= options.description
    if block
      div(class= contentClassName)
        block
