mixin calendar-content({items}= {})
  .calendar-content
    .calendar-content__col
      .calendar-content__week-day= 'пн'
      .calendar-content__week-day= 'вт'
      .calendar-content__week-day= 'ср'
      .calendar-content__week-day= 'чт'
      .calendar-content__week-day= 'пт'
      .calendar-content__week-day= 'сб'
      .calendar-content__week-day= 'вс'
    .calendar-content__col
      each item in items
        +calendar-day({
          isOther: item.isOther, 
          isCurrent: item.isCurrent,
          isBegin: item.isBegin, 
          isBeginPoint: item.isBeginPoint, 
          isEnd: item.isEnd, 
          isEndPoint: item.isEndPoint, 
          value: item.value,
          })
      
                            
      
      