mixin comment({className, name, date, count, isLiked= false, text, image}= {})
  -
    var componentClassName = 'comment'
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    div
      .comment__avatar(alt=image.alt  style=`background-image: url(${image.src});`)
    div
      .comment__name= name
      .comment__date= date
    div 
      .comment__like
        +like({count: count || 75, isLiked: isLiked})
    div
      .comment__text= text